{% extends 'base.html' %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/photos/blog07.jpg'); margin-top: 40px; height: 500px; background-repeat: no-repeat; background-size: cover;background-position: center;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 style="color:aliceblue;position:relative;top:200px;left:20px;font-size: 2rem;font-weight:700 ;">Carnation</h1>
          <span class="subheading" style="color:aliceblue;position:relative;top:200px;left:20px;font-weight: 700;font-size: 2rem;">Leave a comment</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col md-1">

    </div>
    <div class="col-md-8">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
     
      </p>
      <h3>{{blog.title}} <span style="float: right;font-size:18px;margin-right:20px">{{blog.comment.count()}}
          Comments</span></h3>
      <p>{{blog.content}}</p>
      <p>By &nbsp;<span style="color: blue"> {{blog.user.username}} </span>on {{blog.posted.strftime('%d-%m-%Y')}}
      <div>
        <!-- <a class="btn btn-outline-primary btn-sm m-1" href="{{url_for('main.comment',blog_id = blog.id)}}">Comment</a> -->
        {% if blog.user == current_user %}
        <a class="btn btn-outline-success btn-sm m-1" href="{{url_for('main.updateblog',blog_id=blog.id)}}">Edit Blog</a>
        <a class="btn btn-sm btn-danger  m-1" href="{{url_for('main.del_post',blog_id=blog.id)}}" >Delete</a>
        {% endif %}
      </div>
    </div>

    <br>
    <br>

    
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <form class="form-control" style="width: 500px;margin: auto;" action="{{url_for('main.comment',blog_id = blog.id)}}" method="POST">
                  <div class="md-form form-group">
                      <i class="fa fa-lock prefix"></i>
                      <label for="form"></label>
                      <h4>Leave your comment here</h4>
                      <input type="text" class="form-control" name="newcomment" placeholder="enter a comment..." required>
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  </div>
                  <div class="md-form form-group">
                      <button class="btn btn-sm btn-outline-primary">Comment</button>
                  </div>
              </form>
          </div>

          <hr>



{% block footer %}
{% include 'footer.html' %}
{% endblock %}

{% endblock %}