{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('../static/photos/blog04.jpg'); margin-top: 40px; height: 500px; background-repeat: no-repeat; background-size: cover;background-position: center;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1 style="color:aliceblue;position:relative;top:200px;left:20px;font-size: 2rem;font-weight:700 ;">Add Post</h1>
          <span class="subheading" style="color:aliceblue;position:relative;top:200px;left:20px;font-weight: 700;font-size: 2rem;" >You can add a blog post here.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="text-center">Create your Car blog</h2>
      {{wtf.quick_form(form)}}
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<hr>
{% endblock %}